@model InventoryManagementWeb.Models.Product

<h1>Product Details</h1>

<div>
    <h4>Product ID: @Model.ProductId</h4>
    <h4>Name: @Model.Name</h4>
    <h4>Stock Level: @Model.StockLevel</h4>
</div>
